%li= link_to 'blog', "http://blog.iamover18.net"
%li= link_to 'wiki', "https://wiki.diasporafoundation.org"
%li= link_to 'source', "https://github.com/cyberczar/diaspora/"
%li= link_to(t('layouts.application.toggle'), toggle_mobile_path)
- if AppConfig.settings.terms.enable?
    %li= link_to(t('_terms'), terms_path)
